<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="images/favicon.png">
    <title th:text="'Hello, ' + ${name} + '!'"></title>

    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<h2 class="hello-title" th:text="'Hello, ' + ${name} + '!'"></h2>
<p>This header was loaded from the url string.</p>

<img th:src="@{/images/books.png}"/>

</body>
</html>